.weather_card {
  background-color: rgb(143 171 229 / 98%);
  /* border: 10px solid black; */
  width: 165px;
  text-align: center;
  padding: 10px 0px 10px 1px;
  margin-top: 40px;
  margin-right: 10px;
  border-radius: 20px;
  /* box-shadow: -1px 2px 15px 0px rgba(143, 171, 229, 0.75); */
}
.weather_card:hover {
  box-shadow: -1px 2px 15px 0px rgba(143, 171, 229, 0.75);
  -webkit-box-shadow: -1px 2px 15px 0px rgba(143, 171, 229, 0.75);
  -moz-box-shadow: -1px 2px 15px 0px rgba(143, 171, 229, 0.75);
}

.card_text {
  font-size: 22px;
  font-weight: 200;
  margin: 0px 0px 0px 0px;
}
.value {
  font-weight: 700;
}
.card_body {
  padding-bottom: 5px;
}
