.main {
  display: flex;
}
.left_container {
  width: 45%;
  text-align: center;
  /* background-color: blueviolet; */
}
.input_grp {
  display: block;
  font-weight: 600;
  font-size: 22px;
}
.input_grp input {
  border: 1px solid #dfe1e5;
  padding: 16px 16px;
  border-radius: 24px;
  box-shadow: none;
  width: 50%;
}
.input_grp input:focus {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.21);
  outline: none;
}

.input_grp input:hover {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.21);
}

.input_grp button {
  background-color: #316bff;
  color: #fff;
  margin-left: 10px;
  padding: 16px 16px;
  border-radius: 24px;
  box-shadow: none;
  border: none;
}

.date_and_time {
  margin-top: 40px;
  font-size: 22px;
  font-weight: 200;
}

.temperature {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.temperature .temp_container {
  display: flex;
  align-items: center;
  margin: 25px 0px;
}

.temperature .temp_container img {
  background-color: rgb(143 171 229 / 98%);
  height: 200px;
  border-radius: 20px;
}

.temperature .temp_container .temp_value {
  font-size: 50px;
  margin-left: 20px;
}

.temperature .weather {
  margin-top: 10px;
  font-size: 40px;
  text-transform: capitalize;
}

.temperature .temp_desc {
  margin-top: 30px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 100%;
}

.temperature .temp_desc p {
  font-size: 22px;
  font-weight: 200;
}
.temperature .temp_desc .value {
  font-weight: 700;
}

.right_container {
  width: 55%;
  transition: opacity 0.4s ease-in 0.8s;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .left_container,
  .right_container {
    width: 100%;
  }
  .right_container {
    align-items: center;
    margin-top: 20px;
  }
  .temperature .temp_desc p {
    font-size: 18px;
  }
  .temperature .weather {
    font-size: 30px;
  }
  .date_and_time {
    font-size: 18px;
  }
}
